<h2>Edit task</h2>

<div>
  <%= form_for(@task) do |f| %>
    <div>
     <%= f.label :Title %>
    </div>
    <div>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :Details %>
    </div>
    <div>
    <%= f.text_field :details %>
    </div>
    <div>
    <%= f.submit %>
    </div>
  <% end %>
</div>

<div>
  <p>Is taks completed: <%= @task.completed %></p>
</div>

<%= link_to "Back to the list", tasks_path %>
