<h1>New task</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :Title %>
  <br>
  <%= f.text_field :title %>
  <br>
  <br>
  <%= f.label :Details %>
  <br>
  <%= f.text_field :details %>
  <br>
  <br>
  <%= f.submit %>
<% end %>
<br>
<br>
<%= link_to "Back to the list", tasks_path %>
