<h2>Task: <%= @task.title %></h2>

<p> <%= @task.details %> </p>

<div>
  <p>Is taks completed: <%= @task.completed %></p>
</div>

<div>
<button style="background-color: lightblue">
  <%= link_to "Edit task", task_edit_path %>
</button>
</div>

<div style="margin: 12px">
  <%= link_to "Back to the list", tasks_path %>
</div>
